{% extends 'admin/base.html' %}

{% block admin_styles %}
  <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/add-post-styles.css')}}">
  <script src="{{ url_for('admin.static', filename='js/adminAddPost.js') }}" defer></script>
{% endblock %}

{% block admin_content %}
  <form class="add-post-form" id="add-post-form" action="{{ form_action }}" method="post" enctype="multipart/form-data" >
      {{ form.hidden_tag() }}
      {{ form.object_id }}
      
      <div class="title-container">
        <div class="post-input-container">{{ form.title.label }}{{ form.title() }}</div>
        {# <!-- <div class="category-container">
          {{ form.category.label }}
          <div class="category-container">{{ form.category() }}</div>
        </div> --> #}
      </div>

      {% if data.model == 'project' %}
        <div class="post-input-container">
          {{ form.project_link.label }}{{ form.project_link() }}
        </div>

        <div class="post-input-container">
          {{ form.github_link.label }}{{ form.github_link() }}
        </div>
      {% endif %}

      <!-- Tags -->
      <div class="tags-container">
        <h4>Tags</h4>
        <div class="tag-input-container">
          {#<!-- <label for="tag-input">Enter a tag</label> -->#}
          <input type="text" name="tag-input" id="tag-input" maxlength="30" placeholder="Add a tag">
          <input type="button" id="tag-input-button" class="button-styles" value="Add Tag">
        </div>
        <ul class="tags-display">
        </ul>
      </div>

      {% if data.img %}
      <div class="photo-container content-block" data-objectUrl="{{ data.img }}">
        {{ form.photo.label }} {{ form.photo(class_="img-block") }}    
        <img src="{{ data.img }}" class="img-preview" alt="Image">
      </div>
      {% else %}
      <div class="photo-container content-block">
        {{ form.photo.label }} {{ form.photo(class_="img-block") }}    
        <img class="img-preview">
      </div>
      {% endif %}
      
      <div class="blurb-container">{{ form.blurb.label }} {{ form.blurb() }}</div>

      {# <!-- Content blocks --> #}
      <div class="content-blocks-container">
      </div>
      <div class="content-block-buttons">
        <input type="button" id="add-text-content-block" class="button-styles add-content-btn" value="Add Text">
        <input type="button" id="add-image-content-block" class="button-styles add-content-btn" value="Add Image">
        <input type="button" id="add-subheading-content-block" class="button-styles add-content-btn" value="Add Subheading">
      </div>

      {{ form.form_submit_btn(id="form-submit-btn") }}
  </form>

  {% if json_data %}
    <script>
      window.APP_CONTEXT = {{ json_data | tojson }}
    </script>
  {% endif %}

  

  <!-- Load the CKEditor JS -->
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='blurb', placeholder='Main Text') }}

{% endblock %}