{% extends 'main/base.html' %}
{% block links %}
<script src="{{ url_for('main.static', filename='js/projectScript.js') }}" defer></script>
{% endblock %}

{% block content %}


<div class="page-content-container">
  <div class="page-content">
    <h1>{{ post.title }}</h1>
    {% if post.image_url %}
    <div class="img-container">
      <img src="{{ post.image_url }}" class="img" alt="{{ post.title }} - The Pizza King, DTX">
    </div>
    {% endif %}
    {{ post.blurb | safe }}
    {% if content_blocks %}
      {% for block in content_blocks %}
        <div class="content-block">
          {% if block.block_type == 'text' %}
            <p class="content-text">{{ block.text_content }}</p>
          {% elif block.block_type == 'image' %}
            <img src="{{ block.image_url }}" alt="{{ block.image_alt_text }}" class="content-block-img">
          {% elif block.block_type == 'subheading' %}
            <h3 class="content-block-subheading">{{ block.text_content }}</h3>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
<a href="{{ url_for('main.blog_posts')}}" class="back-button button-styles">← Back to Blog</a>
</div>

{% endblock %}