{% extends 'main/base.html' %}
{% block links %}
<script src="{{ url_for('main.static', filename='js/projectScript.js') }}" defer></script>
{% endblock %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<div class="page-content-container">
  <div class="page-content">
    <h1 class="project-title">
      {{ project.title }}
    </h1>
    {% if project.image_url %}
    <div class="img-container">
      <img src="{{ project.image_url }}" class="img" alt="{{ project.title }} - Flower Grid Cooking">
    </div>
    {% endif %}
    <div class="project-blurb project-item">
      {% if content_type == 'Blog' %}
        <h5 class="content-item-created-date">
          <em>{{ project.created_at.strftime('%b %d, %Y') }}</em>
        </h5>
      {% endif %}
      {{ project.blurb | safe }}
    </div>
    {% if content_blocks %}
      {% for block in content_blocks %}
        <div class="content-block page-content">
          {% if block.block_type == 'text' %}
            <p class="content-block-text">{{ block.text_content }}</p>
          {% elif block.block_type == 'image' %}
            <div class="img-container">
              <img class="img" src="{{ block.image_url }}" alt="{{ block.image_alt_text }}" class="content-block-img">
            </div>
          {% elif block.block_type == 'subheading' %}
            <h3 class="content-block-subheading">{{ block.text_content }}</h3>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
        {% if project.project_link %}
    <h3>
      See it live in action <a href="{{ project.project_link }}" target="_blank">here</a>.
    </h3>
    {% endif %}
    {% if project.github_link %}
    <h3>
      View the code <a href="{{ project.github_link }}" target="_blank"> here</a>.
    </h3>
    {% endif %}
  </div>
  {% if content_type == 'Portfolio' %}
  <a href="{{ url_for('main.projects')}}" class="back-button button-styles">← Back to {{content_type}}</a>
  {% elif content_type == 'Blog' %}
  <a href="{{ url_for('main.blog_posts')}}" class="back-button button-styles">← Back to {{content_type}}</a>
  {% endif %}
</div>


{% endblock %}