{% extends 'main/base.html' %}
{% block title %}Flower Grid Cooking: Home{% endblock %}

{% block content%}
<div class="index-main">
  <div class="hero-section">
    <div class="heading">
      <h1>I solve messy, real problems with software</h1>
      <p>I build software systems that turn messy inputs into reliable, usable 
        outcomes. My experience includes web applications, data processing, and 
        automation work, often involving existing codebases and real operational 
        constraints. This portfolio showcases projects that reflect how I think 
        about systems, tradeoffs, and long-term maintainability.
      </p>
    </div>
    <div class="img-container">
      <img src="{{ url_for('static', filename='images/pk_animated.png')}}" class="img" alt="Weclome to Flower-Grid Cooking: I hope you're hungry">
    </div>
    <div class="cta">  
      <a href="{{ url_for('main.projects')}}" class="button-styles">To Projects</a>
    </div>    
  </div>
  
</div>

{% endblock %}