.all-objects {
    width: 600px;
    padding: 0;
}

.object-preview-content {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 14pt;
    border: 1px solid black;
    padding: .3rem;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.object {
    list-style-type: none;
}

.buttons-container {
    display: flex;
    gap: .5rem;
}

.add-button {
    border-radius: 4px;
    padding: .5rem;
}

.add-button-container {
    margin: 1rem 0;
    width: 600px;
}

.inner-button {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    margin: 0;
    width: 55px;

}

.inner-button:hover {
    cursor: pointer;
}

.edit-button {
    text-decoration: none;
    color:  inherit;
}

.edit-button:visited {
    color: inherit;
}

.toggle-active-button {
    background-color: red;
    color: white;
}

.toggle-active-button::after {
    content: "Hidden";
}

.active-project {
    background-color: greenyellow;
    color: black;
}
.active-project::after {
    content: "Active";
}

/* Mobile Styling */
@media (max-width: 768px) {
    .main-content {
        padding: 1rem;
    }

    .all-objects {
        width: 100%;
    }

    .object-preview-content {
        flex-direction: column;
        align-items: flex-start;
        min-height: 132px;
    }

    .buttons-container {
        width: 100%;
        justify-content: space-between;
        gap: 2rem;
        margin: .7rem 0;
        box-sizing: border-box;
        padding: 0 1rem;

    }

    .add-button-container {
        width: 100%;

    }

    .button-styles {
        padding: .7rem;
        font-size: 14pt;
        width: 40%;
    }

    .add-button {
        padding: 20px;
        box-sizing: border-box;
        display: block;
        width: 40%;
        text-align: center;
    }

}